## Linear Classifier in TensorFlow 
Using Low Level API in Eager Execution mode

### Load tensorflow

In [0]:
%tensorflow_version 2.x
import tensorflow as tf

In [0]:
#Enable Eager Execution if using tensflow version < 2.0
#From tensorflow v2.0 onwards, Eager Execution will be enabled by default

In [79]:
print(tf.__version__)

2.0.0

### Collect Data

In [80]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import pandas as pd

In [0]:
data = pd.read_csv("/content/drive/My Drive/prices.csv", delimiter=",")

In [83]:
data.head()

                  date symbol        open  ...         low        high     volume
0  2016-01-05 00:00:00   WLTW  123.430000  ...  122.309998  126.250000  2163600.0
1  2016-01-06 00:00:00   WLTW  125.239998  ...  119.940002  125.540001  2386400.0
2  2016-01-07 00:00:00   WLTW  116.379997  ...  114.930000  119.739998  2489500.0
3  2016-01-08 00:00:00   WLTW  115.480003  ...  113.500000  117.440002  2006300.0
4  2016-01-11 00:00:00   WLTW  117.010002  ...  114.089996  117.330002  1408600.0

[5 rows x 7 columns]

### Check all columns in the dataset

In [84]:
data.columns

Index([u'date', u'symbol', u'open', u'close', u'low', u'high', u'volume'], dtype='object')

### Drop columns `date` and  `symbol`

In [0]:
data.drop(columns=['date','symbol'],inplace=True)

In [86]:
data.head()

         open       close         low        high     volume
0  123.430000  125.839996  122.309998  126.250000  2163600.0
1  125.239998  119.980003  119.940002  125.540001  2386400.0
2  116.379997  114.949997  114.930000  119.739998  2489500.0
3  115.480003  116.620003  113.500000  117.440002  2006300.0
4  117.010002  114.970001  114.089996  117.330002  1408600.0

### Consider only first 1000 rows in the dataset for building feature set and target set
Target 'Volume' has very high values. Divide 'Volume' by 1000,000

In [0]:
df=data[:1000]

In [88]:
df.shape

(1000, 5)

In [89]:
X=df.drop(columns=['volume'])
X.head()

         open       close         low        high
0  123.430000  125.839996  122.309998  126.250000
1  125.239998  119.980003  119.940002  125.540001
2  116.379997  114.949997  114.930000  119.739998
3  115.480003  116.620003  113.500000  117.440002
4  117.010002  114.970001  114.089996  117.330002

In [90]:
y=df['volume']/1000000
y.head()

0    2.1636
1    2.3864
2    2.4895
3    2.0063
4    1.4086
Name: volume, dtype: float64

### Divide the data into train and test sets

In [0]:
from sklearn.model_selection import train_test_split
train_x,test_x,train_y,test_y=train_test_split(X,y,test_size=.30,random_state=2)

#### Convert Training and Test Data to numpy float32 arrays

In [92]:
train_x.dtypes

open     float64
close    float64
low      float64
high     float64
dtype: object

In [93]:
y.dtypes

dtype('float64')

In [0]:
import numpy as np
train_x =np.array(train_x).astype('float32')
test_x = np.array(test_x).astype('float32')
train_y =np.array(train_y).astype('float32')
test_y = np.array(test_y).astype('float32')

### Normalize the data
You can use Normalizer from sklearn.preprocessing

In [0]:
from sklearn.preprocessing import Normalizer

transformer = Normalizer()
train_x = transformer.fit_transform(train_x)
test_x = transformer.transform(test_x)

## Building the Model in tensorflow

1.Define Weights and Bias, use tf.zeros to initialize weights and Bias

In [0]:
W = tf.Variable( tf.random.normal( [4,1] ) )
b = tf.Variable( tf.random.normal( [1] ) )

2.Define a function to calculate prediction

In [0]:
@tf.function
def prediction(train_x, W, b):
    y_pred = tf.add(tf.matmul(train_x, W), b)
    return y_pred

3.Loss (Cost) Function [Mean square error]

In [0]:
@tf.function
def loss(train_y, y_predicted):
    diff = train_y - y_predicted
    sqr = tf.square(diff)
    avg = tf.reduce_mean(sqr)
    return avg

4.Function to train the Model

1.   Record all the mathematical steps to calculate Loss
2.   Calculate Gradients of Loss w.r.t weights and bias
3.   Update Weights and Bias based on gradients and learning rate to minimize loss

In [0]:

@tf.function
def train(train_x, train_y, w, b, learning_rate=0.01):
    
    # Record mathematical operations on 'tape' to calculate loss
    with tf.GradientTape() as t:
        t.watch([w,b])
        current_prediction = prediction(train_x, w, b)
        current_loss = loss(train_y, current_prediction)
    
    # Calculate Gradients for Loss with respect to Weights and Bias
    dw, db = t.gradient(current_loss,[w, b])
    
    # Update Weights and Bias
    w = w - learning_rate * dw
    b = b - learning_rate * db
    
    return w, b

## Train the model for 100 epochs 
1. Observe the training loss at every iteration
2. Observe Train loss at every 5th iteration

In [100]:
for i in range(100):    
    W, b = train(train_x, train_y, W, b)
    print('Current Training Loss on iteration', i, ' -- ', loss(train_y, prediction(train_x, W, b)).numpy())

('Current Training Loss on iteration', 0, ' -- ', 227.62114)
('Current Training Loss on iteration', 1, ' -- ', 226.91733)
('Current Training Loss on iteration', 2, ' -- ', 226.26868)
('Current Training Loss on iteration', 3, ' -- ', 225.67084)
('Current Training Loss on iteration', 4, ' -- ', 225.1199)
('Current Training Loss on iteration', 5, ' -- ', 224.61218)
('Current Training Loss on iteration', 6, ' -- ', 224.14426)
('Current Training Loss on iteration', 7, ' -- ', 223.71298)
('Current Training Loss on iteration', 8, ' -- ', 223.3156)
('Current Training Loss on iteration', 9, ' -- ', 222.94931)
('Current Training Loss on iteration', 10, ' -- ', 222.61172)
('Current Training Loss on iteration', 11, ' -- ', 222.30064)
('Current Training Loss on iteration', 12, ' -- ', 222.01392)
('Current Training Loss on iteration', 13, ' -- ', 221.74965)
('Current Training Loss on iteration', 14, ' -- ', 221.5062)
('Current Training Loss on iteration', 15, ' -- ', 221.28172)
('Current Training Loss on iteration', 16, ' -- ', 221.0749)
('Current Training Loss on iteration', 17, ' -- ', 220.8843)
('Current Training Loss on iteration', 18, ' -- ', 220.70862)
('Current Training Loss on iteration', 19, ' -- ', 220.54672)
('Current Training Loss on iteration', 20, ' -- ', 220.39752)
('Current Training Loss on iteration', 21, ' -- ', 220.26)
('Current Training Loss on iteration', 22, ' -- ', 220.1333)
('Current Training Loss on iteration', 23, ' -- ', 220.01646)
('Current Training Loss on iteration', 24, ' -- ', 219.90884)
('Current Training Loss on iteration', 25, ' -- ', 219.80963)
('Current Training Loss on iteration', 26, ' -- ', 219.71822)
('Current Training Loss on iteration', 27, ' -- ', 219.63396)
('Current Training Loss on iteration', 28, ' -- ', 219.55634)
('Current Training Loss on iteration', 29, ' -- ', 219.48477)
('Current Training Loss on iteration', 30, ' -- ', 219.41882)
('Current Training Loss on iteration', 31, ' -- ', 219.358)
('Current Training Loss on iteration', 32, ' -- ', 219.30199)
('Current Training Loss on iteration', 33, ' -- ', 219.25037)
('Current Training Loss on iteration', 34, ' -- ', 219.2028)
('Current Training Loss on iteration', 35, ' -- ', 219.15897)
('Current Training Loss on iteration', 36, ' -- ', 219.11853)
('Current Training Loss on iteration', 37, ' -- ', 219.0813)
('Current Training Loss on iteration', 38, ' -- ', 219.04697)
('Current Training Loss on iteration', 39, ' -- ', 219.01537)
('Current Training Loss on iteration', 40, ' -- ', 218.9862)
('Current Training Loss on iteration', 41, ' -- ', 218.95932)
('Current Training Loss on iteration', 42, ' -- ', 218.93459)
('Current Training Loss on iteration', 43, ' -- ', 218.91177)
('Current Training Loss on iteration', 44, ' -- ', 218.89073)
('Current Training Loss on iteration', 45, ' -- ', 218.87134)
('Current Training Loss on iteration', 46, ' -- ', 218.85349)
('Current Training Loss on iteration', 47, ' -- ', 218.83704)
('Current Training Loss on iteration', 48, ' -- ', 218.82184)
('Current Training Loss on iteration', 49, ' -- ', 218.80788)
('Current Training Loss on iteration', 50, ' -- ', 218.79497)
('Current Training Loss on iteration', 51, ' -- ', 218.78311)
('Current Training Loss on iteration', 52, ' -- ', 218.77216)
('Current Training Loss on iteration', 53, ' -- ', 218.76208)
('Current Training Loss on iteration', 54, ' -- ', 218.75275)
('Current Training Loss on iteration', 55, ' -- ', 218.74423)
('Current Training Loss on iteration', 56, ' -- ', 218.73633)
('Current Training Loss on iteration', 57, ' -- ', 218.72905)
('Current Training Loss on iteration', 58, ' -- ', 218.72235)
('Current Training Loss on iteration', 59, ' -- ', 218.71619)
('Current Training Loss on iteration', 60, ' -- ', 218.71043)
('Current Training Loss on iteration', 61, ' -- ', 218.70523)
('Current Training Loss on iteration', 62, ' -- ', 218.70038)
('Current Training Loss on iteration', 63, ' -- ', 218.69594)
('Current Training Loss on iteration', 64, ' -- ', 218.69179)
('Current Training Loss on iteration', 65, ' -- ', 218.68805)
('Current Training Loss on iteration', 66, ' -- ', 218.68454)
('Current Training Loss on iteration', 67, ' -- ', 218.6813)
('Current Training Loss on iteration', 68, ' -- ', 218.67836)
('Current Training Loss on iteration', 69, ' -- ', 218.67563)
('Current Training Loss on iteration', 70, ' -- ', 218.67311)
('Current Training Loss on iteration', 71, ' -- ', 218.67079)
('Current Training Loss on iteration', 72, ' -- ', 218.66867)
('Current Training Loss on iteration', 73, ' -- ', 218.66669)
('Current Training Loss on iteration', 74, ' -- ', 218.6649)
('Current Training Loss on iteration', 75, ' -- ', 218.66322)
('Current Training Loss on iteration', 76, ' -- ', 218.66165)
('Current Training Loss on iteration', 77, ' -- ', 218.66022)
('Current Training Loss on iteration', 78, ' -- ', 218.65892)
('Current Training Loss on iteration', 79, ' -- ', 218.6577)
('Current Training Loss on iteration', 80, ' -- ', 218.6566)
('Current Training Loss on iteration', 81, ' -- ', 218.65558)
('Current Training Loss on iteration', 82, ' -- ', 218.65462)
('Current Training Loss on iteration', 83, ' -- ', 218.65375)
('Current Training Loss on iteration', 84, ' -- ', 218.65295)
('Current Training Loss on iteration', 85, ' -- ', 218.65219)
('Current Training Loss on iteration', 86, ' -- ', 218.65152)
('Current Training Loss on iteration', 87, ' -- ', 218.65091)
('Current Training Loss on iteration', 88, ' -- ', 218.65034)
('Current Training Loss on iteration', 89, ' -- ', 218.6498)
('Current Training Loss on iteration', 90, ' -- ', 218.6493)
('Current Training Loss on iteration', 91, ' -- ', 218.64885)
('Current Training Loss on iteration', 92, ' -- ', 218.64845)
('Current Training Loss on iteration', 93, ' -- ', 218.64807)
('Current Training Loss on iteration', 94, ' -- ', 218.6477)
('Current Training Loss on iteration', 95, ' -- ', 218.64738)
('Current Training Loss on iteration', 96, ' -- ', 218.64708)
('Current Training Loss on iteration', 97, ' -- ', 218.64679)
('Current Training Loss on iteration', 98, ' -- ', 218.64653)
('Current Training Loss on iteration', 99, ' -- ', 218.6463)

In [101]:
for i in range(100):    
    W, b = train(train_x, train_y, W, b)
    if i%5 == 0:
        print('Current Training Loss on iteration', i, ' -- ', loss(train_y, prediction(train_x, W, b)).numpy())

('Current Training Loss on iteration', 0, ' -- ', 218.64607)
('Current Training Loss on iteration', 5, ' -- ', 218.64525)
('Current Training Loss on iteration', 10, ' -- ', 218.64467)
('Current Training Loss on iteration', 15, ' -- ', 218.64426)
('Current Training Loss on iteration', 20, ' -- ', 218.64401)
('Current Training Loss on iteration', 25, ' -- ', 218.64386)
('Current Training Loss on iteration', 30, ' -- ', 218.64372)
('Current Training Loss on iteration', 35, ' -- ', 218.64366)
('Current Training Loss on iteration', 40, ' -- ', 218.64362)
('Current Training Loss on iteration', 45, ' -- ', 218.64357)
('Current Training Loss on iteration', 50, ' -- ', 218.64355)
('Current Training Loss on iteration', 55, ' -- ', 218.64355)
('Current Training Loss on iteration', 60, ' -- ', 218.64352)
('Current Training Loss on iteration', 65, ' -- ', 218.64352)
('Current Training Loss on iteration', 70, ' -- ', 218.64352)
('Current Training Loss on iteration', 75, ' -- ', 218.64352)
('Current Training Loss on iteration', 80, ' -- ', 218.64352)
('Current Training Loss on iteration', 85, ' -- ', 218.64352)
('Current Training Loss on iteration', 90, ' -- ', 218.64352)
('Current Training Loss on iteration', 95, ' -- ', 218.64351)

### Get the shapes and values of W and b

In [102]:
print ('shape of W : ', W)

('shape of W : ', <tf.Tensor: id=3904, shape=(4, 1), dtype=float32, numpy=
array([[2.897813  ],
       [0.89226735],
       [1.7017184 ],
       [1.2495164 ]], dtype=float32)>)

In [103]:
print ('shape of W : ', b)

('shape of W : ', <tf.Tensor: id=3905, shape=(1,), dtype=float32, numpy=array([2.2829044], dtype=float32)>)

### Model Prediction on 1st Examples in Test Dataset

In [104]:
pred=prediction(test_x,W,b)
pred

<tf.Tensor: id=3915, shape=(300, 1), dtype=float32, numpy=
array([[5.647792 ],
       [5.653122 ],
       [5.656762 ],
       [5.633687 ],
       [5.651629 ],
       [5.64215  ],
       [5.656746 ],
       [5.6420965],
       [5.656914 ],
       [5.656017 ],
       [5.653165 ],
       [5.6450624],
       [5.635749 ],
       [5.6477776],
       [5.652419 ],
       [5.6417866],
       [5.6587667],
       [5.6528955],
       [5.645602 ],
       [5.6380444],
       [5.6579742],
       [5.6488724],
       [5.658024 ],
       [5.6391115],
       [5.653619 ],
       [5.64268  ],
       [5.6487217],
       [5.656662 ],
       [5.6516123],
       [5.644779 ],
       [5.6640053],
       [5.656612 ],
       [5.652178 ],
       [5.6526585],
       [5.6423817],
       [5.650836 ],
       [5.6480055],
       [5.6495094],
       [5.656887 ],
       [5.639617 ],
       [5.65985  ],
       [5.640571 ],
       [5.6530933],
       [5.649042 ],
       [5.65498  ],
       [5.635691 ],
       [5.6538935],
       [5.6578007],
       [5.6471596],
       [5.642173 ],
       [5.64989  ],
       [5.654785 ],
       [5.6378403],
       [5.6492815],
       [5.658159 ],
       [5.6243935],
       [5.646103 ],
       [5.65101  ],
       [5.6481833],
       [5.6581125],
       [5.654978 ],
       [5.6534185],
       [5.6546063],
       [5.6565604],
       [5.6541247],
       [5.6417923],
       [5.6560864],
       [5.6440573],
       [5.6542597],
       [5.6469507],
       [5.647691 ],
       [5.646805 ],
       [5.6529083],
       [5.655254 ],
       [5.652672 ],
       [5.654235 ],
       [5.6341333],
       [5.6583676],
       [5.6641808],
       [5.6560607],
       [5.6508455],
       [5.6484156],
       [5.6509147],
       [5.654407 ],
       [5.6253004],
       [5.6517487],
       [5.6552896],
       [5.66002  ],
       [5.6538696],
       [5.658149 ],
       [5.6535244],
       [5.64462  ],
       [5.6537685],
       [5.6164923],
       [5.6517   ],
       [5.6496253],
       [5.6457453],
       [5.6169543],
       [5.652615 ],
       [5.643778 ],
       [5.650988 ],
       [5.644902 ],
       [5.648536 ],
       [5.6503196],
       [5.6528845],
       [5.60575  ],
       [5.646924 ],
       [5.6501737],
       [5.6504765],
       [5.643506 ],
       [5.657424 ],
       [5.6483183],
       [5.6468563],
       [5.64888  ],
       [5.6619205],
       [5.6551886],
       [5.654558 ],
       [5.6483264],
       [5.658302 ],
       [5.628497 ],
       [5.649992 ],
       [5.643519 ],
       [5.6468554],
       [5.6485987],
       [5.634741 ],
       [5.6635537],
       [5.631218 ],
       [5.660258 ],
       [5.646634 ],
       [5.6525974],
       [5.6383867],
       [5.657123 ],
       [5.6357527],
       [5.65024  ],
       [5.632596 ],
       [5.6548195],
       [5.650689 ],
       [5.6442513],
       [5.6518154],
       [5.65465  ],
       [5.650132 ],
       [5.6572943],
       [5.6476936],
       [5.6461353],
       [5.650077 ],
       [5.6470313],
       [5.659831 ],
       [5.64639  ],
       [5.64511  ],
       [5.6541657],
       [5.650764 ],
       [5.6172585],
       [5.6383944],
       [5.6409836],
       [5.6515336],
       [5.65913  ],
       [5.6622686],
       [5.649461 ],
       [5.6495824],
       [5.647784 ],
       [5.6380386],
       [5.6484275],
       [5.6518097],
       [5.638898 ],
       [5.6594915],
       [5.659539 ],
       [5.653863 ],
       [5.652692 ],
       [5.6015024],
       [5.6496515],
       [5.6516848],
       [5.6468945],
       [5.642249 ],
       [5.651923 ],
       [5.6556273],
       [5.668847 ],
       [5.6525545],
       [5.6589127],
       [5.652566 ],
       [5.6527514],
       [5.642394 ],
       [5.6402745],
       [5.6554003],
       [5.651866 ],
       [5.65998  ],
       [5.6565237],
       [5.653562 ],
       [5.6436357],
       [5.6388702],
       [5.6494045],
       [5.6435623],
       [5.6547403],
       [5.657355 ],
       [5.6511936],
       [5.6520143],
       [5.660273 ],
       [5.640395 ],
       [5.6469984],
       [5.6533484],
       [5.6489897],
       [5.65413  ],
       [5.6492567],
       [5.643816 ],
       [5.6514225],
       [5.6509256],
       [5.6506305],
       [5.65592  ],
       [5.6415186],
       [5.6570463],
       [5.651391 ],
       [5.6358137],
       [5.6251955],
       [5.6422806],
       [5.648653 ],
       [5.656247 ],
       [5.645321 ],
       [5.642418 ],
       [5.647581 ],
       [5.6568007],
       [5.6483335],
       [5.639901 ],
       [5.6412525],
       [5.655493 ],
       [5.653092 ],
       [5.655784 ],
       [5.6537614],
       [5.6610394],
       [5.650051 ],
       [5.653304 ],
       [5.655076 ],
       [5.6373987],
       [5.6607685],
       [5.646796 ],
       [5.6356683],
       [5.6510916],
       [5.653545 ],
       [5.647342 ],
       [5.640492 ],
       [5.645237 ],
       [5.653845 ],
       [5.658804 ],
       [5.6471715],
       [5.655072 ],
       [5.650152 ],
       [5.648841 ],
       [5.6517687],
       [5.647562 ],
       [5.6541815],
       [5.652174 ],
       [5.6554484],
       [5.6456084],
       [5.6526413],
       [5.639204 ],
       [5.654732 ],
       [5.652748 ],
       [5.655097 ],
       [5.652624 ],
       [5.6448803],
       [5.646088 ],
       [5.6473556],
       [5.645281 ],
       [5.6370153],
       [5.6580906],
       [5.649356 ],
       [5.647376 ],
       [5.631756 ],
       [5.6599703],
       [5.6506615],
       [5.649082 ],
       [5.6544914],
       [5.639537 ],
       [5.6447043],
       [5.6458254],
       [5.6613207],
       [5.659503 ],
       [5.6492496],
       [5.6581516],
       [5.6494083],
       [5.655439 ],
       [5.658513 ],
       [5.6562886],
       [5.6461167],
       [5.650545 ],
       [5.6393437],
       [5.649343 ],
       [5.6654043],
       [5.653844 ],
       [5.6498823],
       [5.653233 ],
       [5.6507907],
       [5.659448 ],
       [5.650959 ],
       [5.644308 ],
       [5.6546   ],
       [5.65506  ],
       [5.6549234],
       [5.6442437],
       [5.6468678],
       [5.6489134],
       [5.650343 ]], dtype=float32)>

## Classification using tf.Keras

In this exercise, we will build a Deep Neural Network using tf.Keras. We will use Iris Dataset for this exercise.

### Load the given Iris data using pandas (Iris.csv)

In [0]:
Irisd = pd.read_csv("/content/drive/My Drive/11_Iris.csv", delimiter=",")

In [111]:
Irisd.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [112]:
Irisd.shape

(150, 6)

### Target set has different categories. So, Label encode them. And convert into one-hot vectors using get_dummies in pandas.

In [0]:
# import labelencoder
from sklearn.preprocessing import LabelEncoder
# instantiate labelencoder object
le = LabelEncoder()
# apply le on categorical feature columns
Irisd.Species = le.fit_transform(Irisd.Species)

In [0]:
y_iris = tf.keras.utils.to_categorical(Irisd.Species, num_classes=3)

### Splitting the data into feature set and target set

In [119]:
X_iris = Irisd.iloc[:,1:5]
#y_iris = iris.Species
y_iris.shape

(150, 3)

###  Building Model in tf.keras

Build a Linear Classifier model  <br>
1.  Use Dense Layer  with input shape of 4 (according to the feature set) and number of outputs set to 3<br> 
2. Apply Softmax on Dense Layer outputs <br>
3. Use SGD as Optimizer
4. Use categorical_crossentropy as loss function

In [0]:
# Initialize Sequential model
model = tf.keras.models.Sequential()
model.add(tf.keras.layers.Dense(4, input_dim=4, kernel_initializer='normal', activation='relu'))
model.add(tf.keras.layers.Dense(3, activation='softmax'))

In [0]:

# Create optimizer with non-default learning rate
sgd_optimizer = tf.keras.optimizers.SGD(lr=0.03)

# Compile the model
model.compile(optimizer=sgd_optimizer, loss='categorical_crossentropy', metrics=['accuracy'])

In [0]:
from sklearn.model_selection import train_test_split
trainX, testX, trainY, testY = train_test_split(X_iris, y_iris, test_size=0.20,random_state=3)

### Model Training

In [123]:
model.fit(trainX, trainY, validation_data=(testX, testY), epochs=30)

WARNING:tensorflow:Falling back from v2 loop because of error: Failed to find data adapter that can handle input: <class 'pandas.core.frame.DataFrame'>, <type 'NoneType'>
Train on 120 samples, validate on 30 samples
Epoch 1/30
120/120 [==============================] - 0s 3ms/sample - loss: 1.1048 - accuracy: 0.3833 - val_loss: 1.0853 - val_accuracy: 0.3333
Epoch 2/30
120/120 [==============================] - 0s 82us/sample - loss: 1.0835 - accuracy: 0.3500 - val_loss: 1.0834 - val_accuracy: 0.6667
Epoch 3/30
120/120 [==============================] - 0s 89us/sample - loss: 1.0727 - accuracy: 0.5333 - val_loss: 1.0631 - val_accuracy: 0.3333
Epoch 4/30
120/120 [==============================] - 0s 85us/sample - loss: 1.0603 - accuracy: 0.4833 - val_loss: 1.0503 - val_accuracy: 0.6000
Epoch 5/30
120/120 [==============================] - 0s 91us/sample - loss: 1.0468 - accuracy: 0.4250 - val_loss: 1.0398 - val_accuracy: 0.6333
Epoch 6/30
120/120 [==============================] - 0s 87us/sample - loss: 1.0365 - accuracy: 0.5833 - val_loss: 1.0348 - val_accuracy: 0.3667
Epoch 7/30
120/120 [==============================] - 0s 82us/sample - loss: 1.0264 - accuracy: 0.5333 - val_loss: 1.0174 - val_accuracy: 0.4667
Epoch 8/30
120/120 [==============================] - 0s 83us/sample - loss: 1.0128 - accuracy: 0.5750 - val_loss: 1.0046 - val_accuracy: 0.6667
Epoch 9/30
120/120 [==============================] - 0s 96us/sample - loss: 1.0007 - accuracy: 0.6000 - val_loss: 0.9912 - val_accuracy: 0.6667
Epoch 10/30
120/120 [==============================] - 0s 106us/sample - loss: 0.9875 - accuracy: 0.6333 - val_loss: 0.9825 - val_accuracy: 0.4000
Epoch 11/30
120/120 [==============================] - 0s 107us/sample - loss: 0.9729 - accuracy: 0.5833 - val_loss: 0.9647 - val_accuracy: 0.7000
Epoch 12/30
120/120 [==============================] - 0s 88us/sample - loss: 0.9584 - accuracy: 0.6667 - val_loss: 0.9497 - val_accuracy: 0.6000
Epoch 13/30
120/120 [==============================] - 0s 102us/sample - loss: 0.9427 - accuracy: 0.6083 - val_loss: 0.9350 - val_accuracy: 0.7000
Epoch 14/30
120/120 [==============================] - 0s 98us/sample - loss: 0.9282 - accuracy: 0.6833 - val_loss: 0.9203 - val_accuracy: 0.6333
Epoch 15/30
120/120 [==============================] - 0s 99us/sample - loss: 0.9124 - accuracy: 0.6250 - val_loss: 0.9048 - val_accuracy: 0.6667
Epoch 16/30
120/120 [==============================] - 0s 127us/sample - loss: 0.8974 - accuracy: 0.6833 - val_loss: 0.8903 - val_accuracy: 0.6667
Epoch 17/30
120/120 [==============================] - 0s 101us/sample - loss: 0.8858 - accuracy: 0.6500 - val_loss: 0.8794 - val_accuracy: 0.6667
Epoch 18/30
120/120 [==============================] - 0s 101us/sample - loss: 0.8713 - accuracy: 0.6750 - val_loss: 0.8672 - val_accuracy: 0.7333
Epoch 19/30
120/120 [==============================] - 0s 100us/sample - loss: 0.8573 - accuracy: 0.7167 - val_loss: 0.8493 - val_accuracy: 0.7000
Epoch 20/30
120/120 [==============================] - 0s 109us/sample - loss: 0.8421 - accuracy: 0.7083 - val_loss: 0.8364 - val_accuracy: 0.6667
Epoch 21/30
120/120 [==============================] - 0s 123us/sample - loss: 0.8297 - accuracy: 0.7083 - val_loss: 0.8251 - val_accuracy: 0.7000
Epoch 22/30
120/120 [==============================] - 0s 117us/sample - loss: 0.8174 - accuracy: 0.7083 - val_loss: 0.8125 - val_accuracy: 0.7000
Epoch 23/30
120/120 [==============================] - 0s 87us/sample - loss: 0.8068 - accuracy: 0.7083 - val_loss: 0.8014 - val_accuracy: 0.7000
Epoch 24/30
120/120 [==============================] - 0s 82us/sample - loss: 0.7948 - accuracy: 0.7167 - val_loss: 0.7905 - val_accuracy: 0.7333
Epoch 25/30
120/120 [==============================] - 0s 109us/sample - loss: 0.7843 - accuracy: 0.7333 - val_loss: 0.7805 - val_accuracy: 0.7333
Epoch 26/30
120/120 [==============================] - 0s 86us/sample - loss: 0.7738 - accuracy: 0.7333 - val_loss: 0.7711 - val_accuracy: 0.7333
Epoch 27/30
120/120 [==============================] - 0s 113us/sample - loss: 0.7650 - accuracy: 0.7417 - val_loss: 0.7618 - val_accuracy: 0.7000
Epoch 28/30
120/120 [==============================] - 0s 120us/sample - loss: 0.7569 - accuracy: 0.7583 - val_loss: 0.7532 - val_accuracy: 0.8000
Epoch 29/30
120/120 [==============================] - 0s 98us/sample - loss: 0.7471 - accuracy: 0.7833 - val_loss: 0.7446 - val_accuracy: 0.8000
Epoch 30/30
120/120 [==============================] - 0s 88us/sample - loss: 0.7387 - accuracy: 0.7750 - val_loss: 0.7363 - val_accuracy: 0.8000

### Model Prediction

In [124]:
model.predict(testX)

WARNING:tensorflow:Falling back from v2 loop because of error: Failed to find data adapter that can handle input: <class 'pandas.core.frame.DataFrame'>, <type 'NoneType'>

array([[0.7869151 , 0.14342721, 0.06965768],
       [0.76611835, 0.15528665, 0.07859503],
       [0.8174351 , 0.1255271 , 0.05703775],
       [0.76474947, 0.15605798, 0.07919264],
       [0.89645654, 0.07608492, 0.02745853],
       [0.24852958, 0.36011386, 0.39135656],
       [0.2709083 , 0.35625154, 0.37284023],
       [0.7989696 , 0.13642927, 0.06460112],
       [0.24852958, 0.36011386, 0.39135656],
       [0.36153147, 0.33387664, 0.30459192],
       [0.32833046, 0.3431725 , 0.32849705],
       [0.76757634, 0.1544638 , 0.07795977],
       [0.31155038, 0.34741715, 0.34103248],
       [0.24852958, 0.36011386, 0.39135656],
       [0.24852958, 0.36011386, 0.39135656],
       [0.83349115, 0.11586107, 0.05064777],
       [0.24852958, 0.36011386, 0.39135656],
       [0.24852958, 0.36011386, 0.39135656],
       [0.24852958, 0.36011386, 0.39135656],
       [0.7877929 , 0.14292076, 0.06928635],
       [0.24852958, 0.36011386, 0.39135656],
       [0.24852958, 0.36011386, 0.39135656],
       [0.24852958, 0.36011386, 0.39135656],
       [0.2721466 , 0.3560155 , 0.3718379 ],
       [0.8412197 , 0.11114393, 0.04763631],
       [0.24852958, 0.36011386, 0.39135656],
       [0.24852958, 0.36011386, 0.39135656],
       [0.33084702, 0.3425085 , 0.32664442],
       [0.34569654, 0.338452  , 0.31585142],
       [0.30821243, 0.34822235, 0.34356523]], dtype=float32)

### Save the Model

### Build and Train a Deep Neural network with 2 hidden layer  - Optional - For Practice

Does it perform better than Linear Classifier? What could be the reason for difference in performance?