In [1]:
import pandas as pd
import numpy as np
laliga=pd.read_csv("D:\Machine Learning\Laliga.csv")
laliga.head(10)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,-,-,4,5,2,5,16,1929,1994-95,3
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,-,1,4,5,4,4,18,1939-40,2012-13,2
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,-,2,3,4,4,14,1932-33,2015-16,1

# Replace all Dashes with 0

In [2]:
df=laliga.replace('-',0)
df.head(10)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,0,0,4,5,2,5,16,1929,1994-95,3
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,18,1939-40,2012-13,2
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,14,1932-33,2015-16,1

# Print all teams started playing between 1930-1980

In [3]:
temp1=df[(df.Debut> '1930') & (df.Debut<'1980')]
temp1

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,18,1939-40,2012-13,2
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,14,1932-33,2015-16,1
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,12,1941-42,2014-15,1
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,0,0,0,2,4,5,11,1939-40,2012-13,4
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,0,0,0,1,1,1,3,1948-49,2013-14,4
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,0,1,1,2,2,1,7,1944-45,2015-16,2
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,0,0,0,2,2,2,6,1935-36,2016-17,4
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,0,0,0,1,0,1,2,1949-50,2008-09,4
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,0,0,3,2,2,4,11,1933-34,2000-01,3
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,0,0,2,0,2,1,5,1960-61,2012-13,3
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,0,1,1,1,1,1,5,1951-52,2015-16,2
21,22,Granada,23,667,742,218,175,349,819,1157,0,0,0,0,0,2,2,1941-42,2016-17,6
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,0,0,0,0,0,0,0,1977-78,2015-16,8
23,24,Elche,21,606,678,203,180,295,750,1022,0,0,0,0,1,1,2,1959-60,2014-15,5
25,26,Hercules,20,538,628,184,149,295,716,1050,0,0,0,0,1,4,5,1935-36,2010-11,5
26,27,Tenerife,13,510,494,155,128,211,619,744,0,0,0,0,2,0,2,1961-62,2009-10,5
27,28,Murcia,18,445,586,145,143,298,607,992,0,0,0,0,0,0,0,1940-41,2007-08,11
28,29,Alaves,12,421,380,125,81,174,458,623,0,0,0,0,0,1,1,1930-31,2016-17,6
29,30,Levante,11,416,402,113,95,194,430,632,0,0,0,0,0,1,1,1963-64,2015-16,6
30,31,Salamanca,12,375,423,123,102,198,422,581,0,0,0,0,0,0,0,1974-75,1998-99,7
31,32,Sabadell,14,353,426,129,95,202,492,720,0,0,0,1,1,0,2,1943-44,1987-88,4
32,33,Cadiz,12,343,448,104,127,217,393,662,0,0,0,0,0,0,0,1977-78,2005-06,12
34,35,Castellon,11,285,334,103,79,152,419,588,0,0,0,1,2,0,3,1941-42,1990-91,4
37,38,Cordoba,9,230,282,82,63,137,285,430,0,0,0,0,1,0,1,1962-63,2014-15,5
39,40,Recreativo,5,188,186,50,46,90,202,296,0,0,0,0,0,0,0,1978-79,2008-09,8
40,41,Burgos CF,6,168,204,59,50,95,216,310,0,0,0,0,0,0,0,1971-72,1979-80,12
41,42,Pontevedra,6,150,180,53,44,83,165,221,0,0,0,0,0,0,0,1963-64,1969-70,7
46,47,Gimnastic,4,91,116,34,16,66,181,295,0,0,0,0,0,0,0,1947-48,2006-07,7
49,50,Alcoyano,4,76,108,30,16,62,145,252,0,0,0,0,0,0,0,1945-46,1950-51,10
50,51,Jaen,3,71,90,29,13,48,121,183,0,0,0,0,0,0,0,1953-54,1957-58,14
52,53,AD Almeria,2,52,68,17,18,33,71,116,0,0,0,0,0,0,0,1979-80,1980-81,10
54,55,Lleida,2,40,68,13,14,41,70,182,0,0,0,0,0,0,0,1950-51,1993-94,16
57,58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,0,1956-57,1956-57,16
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,0,1951-52,1951-52,16
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,0,1955-56,1955-56,15

# List of top 5 team in terms of points

In [6]:
df.set_index('Team',inplace=True)
df['Points'].astype(str).astype(float).nlargest(5)

Team
Real Madrid        4385.0
Barcelona          4262.0
Atletico Madrid    3442.0
Valencia           3386.0
Athletic Bilbao    3368.0
Name: Points, dtype: float64

In [7]:
df.reset_index(inplace=True)

# Function which returns all the team with their goal differences 
#team which has max and min goal difference.

In [9]:
def Goal_diff_count():
    diff=df['GoalsFor'].astype(int)-df['GoalsAgainst'].astype(int)
    
    return(diff)

diff = Goal_diff_count()
max_val = 0
min_val = 0
max_team = ""
min_team = ""
print("goal difference of each team :\n")
for i in range(0,len(diff)):
    print(df['Team'][i]+"\t\t\t"+str(diff[i]))
    
    if max_val <int(diff[i]):
        max_val = int(diff[i])
        max_team = df['Team'][i]
    if min_val > int(diff[i]):
        min_val = int(diff[i])
        min_team = df['Team'][i]
        
print ("Max: ",max_team, max_val)
print("Min: ", min_team, min_val)

goal difference of each team :

Real Madrid			2807
Barcelona			2786
Atletico Madrid			1225
Valencia			929
Athletic Bilbao			931
Sevilla			307
Espanyol			-280
Real Sociedad			-2
Zaragoza			-164
Real Betis			-333
Deportivo La Coruna			-136
Celta Vigo			-346
Valladolid			-413
Racing Santander			-525
Sporting Gijon			-399
Osasuna			-334
Malaga			-342
Oviedo			-309
Mallorca			-189
Las Palmas			-399
Villarreal			103
Granada			-338
Rayo Vallecano			-328
Elche			-272
Getafe			-113
Hercules			-334
Tenerife			-125
Murcia			-385
Alaves			-165
Levante			-202
Salamanca			-159
Sabadell			-228
Cadiz			-269
Logrones			-198
Castellon			-169
Albacete			-90
Almeria			-122
Cordoba			-145
Compostela			-42
Recreativo			-94
Burgos CF			-94
Pontevedra			-56
Numancia			-98
Eibar			-28
Arenas			-81
Real Burgos			-38
Gimnastic			-114
Extremadura			-55
Merida			-45
Alcoyano			-107
Jaen			-62
Real Union			-31
AD Almeria			-45
Europa			-34
Lleida			-112
Leganes			-19
Xerez			-28
Condal			-20
Atletico Tetuan			-34
Cultural Leonesa			-31
Girona			0
Max:  Real Madrid 2807
Min:  Racing Santander -525

# Create new column "winning percent" and append to dataset 
#Print top 5 team having highest winning percentage

In [10]:
df['WinningPercent']=(df['GamesWon'].astype(int)/df['GamesPlayed'].astype(int))*100
#top 5 team having highest winning percentage
df.sort_values(['WinningPercent'],ascending=False).head()

,Team,Pos,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,WinningPercent
0,Real Madrid,1,86,4385,2762,1647,552,563,5947,3140,...,23,8,8,3,4,79,1929,1929,1,59.630702
1,Barcelona,2,86,4262,2762,1581,573,608,5900,3114,...,25,12,12,4,6,83,1929,1929,1,57.241130
2,Atletico Madrid,3,80,3442,2614,1241,598,775,4534,3309,...,8,16,9,7,6,56,1929,2002-03,1,47.475134
3,Valencia,4,82,3386,2664,1187,616,861,4398,3469,...,6,10,11,10,7,50,1931-32,1987-88,1,44.557057
4,Athletic Bilbao,5,86,3368,2762,1209,633,920,4631,3700,...,7,10,5,8,10,49,1929,1929,1,43.772629

# Group team based on best position and sum their points

In [11]:
df['Points']=df.Points.astype(int)
g=df.groupby('BestPosition')
g

In [12]:
for BestPosition, BestPosition_df in g:
    print (BestPosition)
    print (BestPosition_df)

1
                   Team  Pos  Seasons  Points GamesPlayed GamesWon GamesDrawn  \
0           Real Madrid    1       86    4385        2762     1647        552
1             Barcelona    2       86    4262        2762     1581        573
2       Atletico Madrid    3       80    3442        2614     1241        598
3              Valencia    4       82    3386        2664     1187        616
4       Athletic Bilbao    5       86    3368        2762     1209        633
5               Sevilla    6       73    2819        2408      990        531
7         Real Sociedad    8       70    2573        2302      864        577
9            Real Betis   10       51    1884        1728      606        440
10  Deportivo La Coruna   11       45    1814        1530      563        392

   GamesLost GoalsFor GoalsAgainst  ... Runner-up Third Fourth Fifth Sixth  \
0        563     5947         3140  ...        23     8      8     3     4
1        608     5900         3114  ...        25    12     12     4     6
2        775     4534         3309  ...         8    16      9     7     6
3        861     4398         3469  ...         6    10     11    10     7
4        920     4631         3700  ...         7    10      5     8    10
5        887     3680         3373  ...         4     4      5    12     6
7        861     3228         3230  ...         3     2      5     4     3
9        682     2159         2492  ...         0     2      3     4     4
10       575     2052         2188  ...         5     4      1     0     1

     T    Debut Since/LastApp BestPosition  WinningPercent
0   79     1929          1929            1       59.630702
1   83     1929          1929            1       57.241130
2   56     1929       2002-03            1       47.475134
3   50  1931-32       1987-88            1       44.557057
4   49     1929          1929            1       43.772629
5   32  1934-35       2001-02            1       41.112957
7   19     1929       2010-11            1       37.532580
9   14  1932-33       2015-16            1       35.069444
10  12  1941-42       2014-15            1       36.797386

[9 rows x 21 columns]
2
                Team  Pos  Seasons  Points GamesPlayed GamesWon GamesDrawn  \
8           Zaragoza    9       58    2109        1986      698        522
13  Racing Santander   14       44    1416        1428      453        336
14    Sporting Gijon   15       43    1389        1458      471        358
19        Las Palmas   20       33    1020        1096      367        242
20        Villarreal   21       17     970         646      266        172

   GamesLost GoalsFor GoalsAgainst  ... Runner-up Third Fourth Fifth Sixth  \
8        766     2683         2847  ...         1     4      5     4     4
13       639     1843         2368  ...         1     1      2     0     1
14       629     1753         2152  ...         1     1      2     2     1
19       487     1347         1746  ...         1     1      1     1     1
20       208      892          789  ...         1     1      2     3     2

     T    Debut Since/LastApp BestPosition  WinningPercent
8   18  1939-40       2012-13            2       35.146022
13   5     1929       2011-12            2       31.722689
14   7  1944-45       2015-16            2       32.304527
19   5  1951-52       2015-16            2       33.485401
20   9  1998-99       2013-14            2       41.176471

[5 rows x 21 columns]
3
        Team  Pos  Seasons  Points GamesPlayed GamesWon GamesDrawn GamesLost  \
6   Espanyol    7       82    2792        2626      948        608      1070
17    Oviedo   18       38    1174        1192      408        292       492
18  Mallorca   19       27    1148         988      333        256       399
44    Arenas   45        7     107         130       43         21        66

   GoalsFor GoalsAgainst  ... Runner-up Third Fourth Fifth Sixth   T    Debut  \
6      3609         3889  ...         0     4      5     2     5  16     1929
17     1642         1951  ...         0     3      2     2     4  11  1933-34
18     1182         1371  ...         0     2      0     2     1   5  1960-61
44      227          308  ...         0     1      0     3     0   4     1929

   Since/LastApp BestPosition  WinningPercent
6        1994-95            3       36.100533
17       2000-01            3       34.228188
18       2012-13            3       33.704453
44       1934-35            3       33.076923

[4 rows x 21 columns]
4
          Team  Pos  Seasons  Points GamesPlayed GamesWon GamesDrawn  \
11  Celta Vigo   12       51    1789        1698      586        389
12  Valladolid   13       42    1471        1466      463        384
15     Osasuna   16       37    1351        1318      426        327
16      Malaga   17       36    1314        1255      390        330
31    Sabadell   32       14     353         426      129         95
34   Castellon   35       11     285         334      103         79

   GamesLost GoalsFor GoalsAgainst  ... Runner-up Third Fourth Fifth Sixth  \
11       723     2278         2624  ...         0     0      2     4     5
12       619     1767         2180  ...         0     0      1     1     1
15       565     1500         1834  ...         0     0      2     2     2
16       535     1421         1763  ...         0     0      1     0     1
31       202      492          720  ...         0     0      1     1     0
34       152      419          588  ...         0     0      1     2     0

     T    Debut Since/LastApp BestPosition  WinningPercent
11  11  1939-40       2012-13            4       34.511190
12   3  1948-49       2013-14            4       31.582538
15   6  1935-36       2016-17            4       32.321700
16   2  1949-50       2008-09            4       31.075697
31   2  1943-44       1987-88            4       30.281690
34   3  1941-42       1990-91            4       30.838323

[6 rows x 21 columns]
5
        Team  Pos  Seasons  Points GamesPlayed GamesWon GamesDrawn GamesLost  \
23     Elche   24       21     606         678      203        180       295
25  Hercules   26       20     538         628      184        149       295
26  Tenerife   27       13     510         494      155        128       211
37   Cordoba   38        9     230         282       82         63       137

   GoalsFor GoalsAgainst  ... Runner-up Third Fourth Fifth Sixth  T    Debut  \
23      750         1022  ...         0     0      0     1     1  2  1959-60
25      716         1050  ...         0     0      0     1     4  5  1935-36
26      619          744  ...         0     0      0     2     0  2  1961-62
37      285          430  ...         0     0      0     1     0  1  1962-63

   Since/LastApp BestPosition  WinningPercent
23       2014-15            5       29.941003
25       2010-11            5       29.299363
26       2009-10            5       31.376518
37       2014-15            5       29.078014

[4 rows x 21 columns]
6
          Team  Pos  Seasons  Points GamesPlayed GamesWon GamesDrawn  \
21     Granada   22       23     667         742      218        175
24      Getafe   25       12     553         456      147        112
28      Alaves   29       12     421         380      125         81
29     Levante   30       11     416         402      113         95
51  Real Union   52        4      56          72       21         14

   GamesLost GoalsFor GoalsAgainst  ... Runner-up Third Fourth Fifth Sixth  T  \
21       349      819         1157  ...         0     0      0     0     2  2
24       197      520          633  ...         0     0      0     0     1  1
28       174      458          623  ...         0     0      0     0     1  1
29       194      430          632  ...         0     0      0     0     1  1
51        37      153          184  ...         0     0      0     0     1  1

      Debut Since/LastApp BestPosition  WinningPercent
21  1941-42       2016-17            6       29.380054
24  2004-05       2015-16            6       32.236842
28  1930-31       2016-17            6       32.894737
29  1963-64       2015-16            6       28.109453
51     1929       1931-32            6       29.166667

[5 rows x 21 columns]
7
          Team  Pos  Seasons  Points GamesPlayed GamesWon GamesDrawn  \
30   Salamanca   31       12     375         423      123        102
33    Logrones   34        9     293         346       96         92
35    Albacete   36        7     277         270       76         76
41  Pontevedra   42        6     150         180       53         44
46   Gimnastic   47        4      91         116       34         16

   GamesLost GoalsFor GoalsAgainst  ... Runner-up Third Fourth Fifth Sixth  T  \
30       198      422          581  ...         0     0      0     0     0  0
33       158      291          489  ...         0     0      0     0     0  0
35       118      320          410  ...         0     0      0     0     0  0
41        83      165          221  ...         0     0      0     0     0  0
46        66      181          295  ...         0     0      0     0     0  0

      Debut Since/LastApp BestPosition  WinningPercent
30  1974-75       1998-99            7       29.078014
33  1987-88       1996-97            7       27.745665
35  1991-92       2004-05            7       28.148148
41  1963-64       1969-70            7       29.444444
46  1947-48       2006-07            7       29.310345

[5 rows x 21 columns]
8
              Team  Pos  Seasons  Points GamesPlayed GamesWon GamesDrawn  \
22  Rayo Vallecano   23       17     662         652      189        148
36         Almeria   37        6     242         228       62         56
39      Recreativo   40        5     188         186       50         46
53          Europa   54        3      42          54       18          6

   GamesLost GoalsFor GoalsAgainst  ... Runner-up Third Fourth Fifth Sixth  T  \
22       305      760         1088  ...         0     0      0     0     0  0
36       110      244          366  ...         0     0      0     0     0  0
39        90      202          296  ...         0     0      0     0     0  0
53        30       97          131  ...         0     0      0     0     0  0

      Debut Since/LastApp BestPosition  WinningPercent
22  1977-78       2015-16            8       28.987730
36  2007-08       2014-15            8       27.192982
39  1978-79       2008-09            8       26.881720
53     1929       1930-31            8       33.333333

[4 rows x 21 columns]
9
           Team  Pos  Seasons  Points GamesPlayed GamesWon GamesDrawn  \
45  Real Burgos   46        3      96         114       26         44
60       Girona   61        1       0           0        0          0

   GamesLost GoalsFor GoalsAgainst  ... Runner-up Third Fourth Fifth Sixth  T  \
45        44      101          139  ...         0     0      0     0     0  0
60         0        0            0  ...         0     0      0     0     0  0

      Debut Since/LastApp BestPosition  WinningPercent
45  1990-91       1992-93            9       22.807018
60  2017-18       2017-18            9             NaN

[2 rows x 21 columns]
10
          Team  Pos  Seasons  Points GamesPlayed GamesWon GamesDrawn  \
38  Compostela   39        4     190         160       52         45
43       Eibar   44        3     132         114       35         27
49    Alcoyano   50        4      76         108       30         16
52  AD Almeria   53        2      52          68       17         18

   GamesLost GoalsFor GoalsAgainst  ... Runner-up Third Fourth Fifth Sixth  T  \
38        63      199          241  ...         0     0      0     0     0  0
43        52      139          167  ...         0     0      0     0     0  0
49        62      145          252  ...         0     0      0     0     0  0
52        33       71          116  ...         0     0      0     0     0  0

      Debut Since/LastApp BestPosition  WinningPercent
38  1994-95       1997-98           10       32.500000
43  2014-15       2014-15           10       30.701754
49  1945-46       1950-51           10       27.777778
52  1979-80       1980-81           10       25.000000

[4 rows x 21 columns]
11
      Team  Pos  Seasons  Points GamesPlayed GamesWon GamesDrawn GamesLost  \
27  Murcia   28       18     445         586      145        143       298

   GoalsFor GoalsAgainst  ... Runner-up Third Fourth Fifth Sixth  T    Debut  \
27      607          992  ...         0     0      0     0     0  0  1940-41

   Since/LastApp BestPosition  WinningPercent
27       2007-08           11       24.744027

[1 rows x 21 columns]
12
         Team  Pos  Seasons  Points GamesPlayed GamesWon GamesDrawn GamesLost  \
32      Cadiz   33       12     343         448      104        127       217
40  Burgos CF   41        6     168         204       59         50        95

   GoalsFor GoalsAgainst  ... Runner-up Third Fourth Fifth Sixth  T    Debut  \
32      393          662  ...         0     0      0     0     0  0  1977-78
40      216          310  ...         0     0      0     0     0  0  1971-72

   Since/LastApp BestPosition  WinningPercent
32       2005-06           12       23.214286
40       1979-80           12       28.921569

[2 rows x 21 columns]
14
    Team  Pos  Seasons  Points GamesPlayed GamesWon GamesDrawn GamesLost  \
50  Jaen   51        3      71          90       29         13        48

   GoalsFor GoalsAgainst  ... Runner-up Third Fourth Fifth Sixth  T    Debut  \
50      121          183  ...         0     0      0     0     0  0  1953-54

   Since/LastApp BestPosition  WinningPercent
50       1957-58           14       32.222222

[1 rows x 21 columns]
15
                Team  Pos  Seasons  Points GamesPlayed GamesWon GamesDrawn  \
59  Cultural Leonesa   60        1      14          30        5          4

   GamesLost GoalsFor GoalsAgainst  ... Runner-up Third Fourth Fifth Sixth  T  \
59        21       34           65  ...         0     0      0     0     0  0

      Debut Since/LastApp BestPosition  WinningPercent
59  1955-56       1955-56           15       16.666667

[1 rows x 21 columns]
16
               Team  Pos  Seasons  Points GamesPlayed GamesWon GamesDrawn  \
54           Lleida   55        2      40          68       13         14
57           Condal   58        1      22          30        7          8
58  Atletico Tetuan   59        1      19          30        7          5

   GamesLost GoalsFor GoalsAgainst  ... Runner-up Third Fourth Fifth Sixth  T  \
54        41       70          182  ...         0     0      0     0     0  0
57        15       37           57  ...         0     0      0     0     0  0
58        18       51           85  ...         0     0      0     0     0  0

      Debut Since/LastApp BestPosition  WinningPercent
54  1950-51       1993-94           16       19.117647
57  1956-57       1956-57           16       23.333333
58  1951-52       1951-52           16       23.333333

[3 rows x 21 columns]
17
           Team  Pos  Seasons  Points GamesPlayed GamesWon GamesDrawn  \
42     Numancia   43        4     148         152       37         37
47  Extremadura   48        2      83          80       20         23
55      Leganes   56        1      35          38        8         11

   GamesLost GoalsFor GoalsAgainst  ... Runner-up Third Fourth Fifth Sixth  T  \
42        78      155          253  ...         0     0      0     0     0  0
47        37       62          117  ...         0     0      0     0     0  0
55        19       36           55  ...         0     0      0     0     0  0

      Debut Since/LastApp BestPosition  WinningPercent
42  1999-00       2008-09           17       24.342105
47  1996-97       1998-99           17       25.000000
55  2016-17       2016-17           17       21.052632

[3 rows x 21 columns]
19
      Team  Pos  Seasons  Points GamesPlayed GamesWon GamesDrawn GamesLost  \
48  Merida   49        2      81          80       19         24        37

   GoalsFor GoalsAgainst  ... Runner-up Third Fourth Fifth Sixth  T    Debut  \
48       70          115  ...         0     0      0     0     0  0  1995-96

   Since/LastApp BestPosition  WinningPercent
48       1997-98           19           23.75

[1 rows x 21 columns]
20

     Team  Pos  Seasons  Points GamesPlayed GamesWon GamesDrawn GamesLost  \
56  Xerez   57        1      34          38        8         10        20

   GoalsFor GoalsAgainst  ... Runner-up Third Fourth Fifth Sixth  T    Debut  \
56       38           66  ...         0     0      0     0     0  0  2009-10

   Since/LastApp BestPosition  WinningPercent
56       2009-10           20       21.052632

[1 rows x 21 columns]

In [13]:
g.sum().iloc[ : , 2:3]

              Points
BestPosition
1              27933
2               6904
3               5221
4               6563
5               1884
6               2113
7               1186
8               1134
9                 96
10               450
11               445
12               511
14                71
15                14
16                81
17               266
19                81
20                34